---
import "/src/styles/global.css";

import { Countdown } from "/src/components/Countdown";
import Layout from "../layouts/Layout.astro";
import Snow from "../layouts/Snow.astro";
import DancingGif from "../components/DancingGif.astro";
import Music from "../components/Music.astro";
---

<Layout>
  <Snow />
  <DancingGif />
  <div id="main-container">
    <Countdown client:load />
    <Music />
  </div>
</Layout>
